/* GITHUB:https://github.com/niborus/EU-Seite */

/* Global Grid: Globales Layout für Seiten */
.gridcontainer {
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
}

@media (min-width: 1000px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  }
}

/*Griditem-Klasse für Inhalt*/
.content {
  grid-area: main;
}

/*Griditem-Klasse für Seitenverzeichnis*/
.sidebar_container {
  grid-area: sidebar;
}

header {
  grid-area: header;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #ebedef;
}

header > div {
  font-size: x-large;
  max-height: 50px;
  min-width: 50px;
  width: auto;
  padding: 10px;
}

header a {
  color: inherit;
  text-decoration: inherit;
  font-style: inherit;
  font-size: inherit;
}

header img {
  max-width: 100%;
  max-height: 100%;
}

header > div:nth-child(1) {
  height: 50px;
}

/* Klasse für "die EU", da vom Rest verschieden*/
header > div:nth-child(2) {
  font-size: xx-large;
  font-weight: bold;
}

header > div:hover {
  background-color: #d2d5d9;
}

/* Flexbox Fußzeile*/
footer {
  display: flex;
  background: #ebedef;
  padding: 20px;
  font-size: large;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  grid-area: footer;
}

/* Standard Tabelle */
/* Container für Schatten der Tabelle*/
.standard_table_container {
  padding-top: 10px;
  display: table;
  box-shadow: 10px 10px 10px #ccc;
}

/* Tabelle */
.standard_table {
  border-collapse: collapse;
}

/* Anpassungen zur Darstellung der Standard Tabelle */
.standard_table li {
  list-style-type: circle;
}
.standard_table > thead > tr {
  background-color: #ccc;
}
.standard_table > tbody > tr {
  background-color: #ddd;
}
.standard_table > tbody > tr:nth-child(odd) {
  background-color: #eee;
}

/* Anpassungen der Farbe der Parteien Tabelle */
td.EVP {
  background-color: #99ccff;
}
td.SPE {
  background-color: #ffcccc;
}
td.ALDE {
  background-color: #ffff99;
}
td.IDP {
  background-color: #6a7999;
}
td.EGP {
  background-color: #9bd29b;
}
td.ECR {
  background-color: #5597c4;
}
td.EL {
  background-color: #d2a6bf;
}
td.EFA {
  background-color: #af50cf;
}
td.EDP {
  background-color: #f0c67d;
}
td.ECPM {
  background-color: #7678b3;
}
